# Sta GET, POST en OPTIONS toe
<Files "create-session.php">
  <IfModule mod_authz_core.c>
    Require all granted
  </IfModule>
  <IfModule !mod_authz_core.c>
    Order allow,deny
    Allow from all
  </IfModule>
</Files>

<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteCond %{REQUEST_METHOD} ^(GET|POST|OPTIONS)$
  RewriteRule ^ - [L]
</IfModule>

Options -Indexes
DirectoryIndex index.html
